body{
	font-family: Microsoft YaHei,sans-serif;
}
/**********************/
/*网页头部*/
header,section{
	width: 1200px;
	margin: 0 auto;
}
header{
	height: 80px;
	padding: 10px 0;
	box-sizing: border-box;
}
header .logo,header nav ul li{
	float: left;
}
header .logo img{
	width: 211px;
	height: 60px;
}
header nav{
	float: right;
	width: 604px;
	height: 60px;
	padding: 21px 0;
	box-sizing: border-box;
}
header nav ul li a{
	display: block;
	width: 120px;
	height: 18px;
	color: #404040;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	border-left: 1px solid #404040;
}
header nav ul li:nth-of-type(1) a{
	border-left: none;
}
header nav ul li a:hover{
	color: #448aca;
}
/**********************/
/*网页主体内容*/
section .sidebar_new{
	float: left;
	width: 260px;
	height: 250px;
	line-height: 60px;
	box-shadow: 1px 1px 1px 2px #e8e8e8;
}
section .sidebar_new h2{
	width: 260px;
	height: 60px;
	color: #fff;
	font-size: 24px;
	background-color: #448aca;
	padding-left: 20px;
	box-sizing: border-box;
}
section .sidebar_new h2 span{
	font-size: 12px;
	margin-left: 16px;
}
section .sidebar_new ul li{
	width: 240px;
	height: 60px;
	color: #333;
	border-bottom: 1px solid #f0f0f0;
	margin: 0 auto;
	padding-left: 25px;
	box-sizing: border-box;
	cursor: pointer;
}
section .sidebar_new ul li:nth-of-type(1){
	color: #006933;
}
section .sidebar_new ul li:hover{
	color: #006933;
}
section .sidebar_new ul li span{
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: #333;
	transform: rotate(45deg);
	margin-right: 20px;
}
section article{
	float: right;
	width: 900px;
	height: 968px;
}
section article .top {
	height: 126px;
	line-height: 126px;
}
section article .top h1{
	float: left;
	font-size: 24px;
}
section article .top dl{
	float: right;
}
section article .top dl dt,section article .top dl dd{
	float: left;
	line-height: 146px;
}
section article .beijing{
	height: 11px;
	background-image: url(../img/beijing.png);
	background-repeat: repeat-x;
	margin-bottom: 30px;
}
section article .middle li{
	height: 68px;
	line-height: 68px;
	border-bottom: 2px dotted #ccc;
}
section article .middle li i{
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 9px 5px 9px;
	border-color: transparent transparent transparent #4d4d4d;
}
section article .middle li a,section article .middle li time{
	color: #4b4b4b;
}
section article .middle li a:hover{
	color: #448aca;
}
section article .middle li time{
	float: right;
}
section article .bottom li{
	float: left;
	padding: 12px 14px;
	border: 2px solid #e5e5e5;
	margin-left: 16px;
	cursor: pointer;
}
section article .bottom{
	width: 623px;
	margin: 30px auto 50px auto;
}
section article .bottom li:nth-of-type(1){
	margin-left: 0;
}
section article .bottom li:hover{
	background-color: #006933;
}
/**********************/
/*网页底部*/
footer{
	width: 100%;
	height: 100px;
	padding-top: 26px;
	box-sizing: border-box;
	background-color: #333;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
footer p span{
	margin-left: 24px;
}